<!doctype html>
<html>
    <head><meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base/style.css' %}">
    </head>
    <body>
        <div id="title-div">
            <span id="title">Path Plotter Generator</span>
        </div>
        <div id="middle">
            <div id="menu">
                <a class="menuButton" href="{% url 'list_projects' %}">Projects list</a>
                <a class="menuButton" href="{% url 'list_machines' %}">Machines list</a>
                <a class="menuButton" href="{% url 'list_tools' %}">Tools list</a>
                <a class="menuButton" href="{% url 'list_images' %}">Images list</a>
            </div>
            <div id="main-content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>