{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/project/style.css' %}">
    <div id="content_menu">
        <a href="{% url 'add_project' %}">Add new project</a>
    </div>
    <div>
    <ul id="project_list">
    {% for project in projects %}
        <li>
            <div id="row">
                <div class="name"><a href="{% url 'detail_project' pk=project.id %}">{{ project.name }}</a></div>
                <div id="buttons">
                    <a class="menuButton row_button" href="{% url 'edit_project' pk=project.id %}">Edit</a>
                    <a class="menuButton row_button" href="{% url 'delete_project' pk=project.id %}">Delete</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
